body{
    background-color: white;
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 1em 0;
    transition: background 0.3s;
    z-index: 1000;
}

.main-header.scrolled {
    background-color: #141414;
    color: #ffffff;
}
.main-header.scrolled nav ul li a {
    color: #ffffff; 
}

.main-header.scrolled .submenu ul a {
    color: #000000; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 90px;
}

nav {
    flex: 1;
    text-align: right; 
    padding-right: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    position: relative;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* .submenu ul {
    display: none;
    position: absolute;
    background: white;
    color: #000000;
    list-style: none;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    top: 100%;
    right: -1em;
    min-width: 200px;
}


nav ul li a.active {
    border-bottom: 2px solid #000000;
}
.submenu:hover ul {
    display: block;
}

.submenu ul li {
    margin: 0;
}

.submenu ul a {
    color: black;
}
.submenu ul a:hover {
    border-bottom: 2px solid #000;
}
.submenu ul a.active {
    border-bottom: 2px solid #000;
} */

.privacy-policy{
    padding: 2em 0;
    width: 100%;
    margin-top: 10em;
    margin-bottom: 20em;
}
.privacy-policy-container {
    line-height: 1.6;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2em; 
}

h1, h2, h3 {
    color: #000000;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: left;
}

h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    font-size: 1em;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

ul li {
    margin-bottom: 0.5em;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
