body{
    background-color: white;
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 1em 0;
    transition: background 0.3s;
    z-index: 1000;
}

.main-header.scrolled {
    background-color: #141414;
    color: #ffffff;
}
.main-header.scrolled nav ul li a {
    color: #ffffff; 
}

.main-header.scrolled .submenu ul a {
    color: #000000; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 90px;
}

nav {
    flex: 1;
    text-align: right; 
    padding-right: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    position: relative;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.imprint{
    padding: 2em 0;
    width: 100%;
    margin-top: 10em;
    margin-bottom: 20em;
}
.section-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2em; 
}
.imprint h1{
    font-size: 3em;
    margin-bottom: 1.5em;
}
.space{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}
.imprint p a{
    color: #707070; 
    text-decoration: underline; 
}