body{
    background-color: white;
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 1em 0;
    transition: background 0.3s;
    z-index: 1000;
}

.main-header.scrolled {
    background-color: #141414;
    color: #ffffff;
}
.main-header.scrolled nav ul li a {
    color: #ffffff; 
}

.main-header.scrolled .submenu ul a {
    color: #000000; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 90px;
}

nav {
    flex: 1;
    text-align: right; 
    padding-right: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    position: relative;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.submenu ul {
    display: none;
    position: absolute;
    background: white;
    color: #000000;
    list-style: none;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    top: 100%;
    right: -1em;
    min-width: 200px;
}


nav ul li a.active {
    border-bottom: 2px solid #000000;
}
.submenu:hover ul {
    display: block;
}

.submenu ul li {
    margin: 0;
}

.submenu ul a {
    color: black;
}
.submenu ul a:hover {
    border-bottom: 2px solid #000;
}
.submenu ul a.active {
    border-bottom: 2px solid #000;
}

.seminars-section {
    padding: 2em 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 10em;

}

.seminars-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1630px;
    margin: 0 auto;
    padding: 2em;
}

.seminars-heading {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: left;
    width: 100%;
    padding-left: 1em;
}

.seminars-text-content {
    flex: 1;
    padding-left: 1em;
    line-height: 1.8;
}

.seminars-text-content p {
    margin-bottom: 1.5em;
}

.seminars-image-content {
    flex: 1;
    padding-left: 1em;
}

.seminars-image-content img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-top: 0.5em;
HEAD
}



